.row{
    padding-left: 10px;
    align-content: center;
    margin-left: 25px;
    margin-right: 25px;
}
.article{
    border-radius: 10px;
    width: 350px;
    height: 250px;
    margin: 50px;
    display:flex;
    float: left;
    position: relative;
}